*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
}

body{

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}